<div class="inner cover">
  <h2 class="cover-heading">YOUR&nbsp;&nbsp;POSITION：<span ng-bind="position"></span></h2>
  <p class="lead">

      <div class="col-lg-12" >
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...like...南京(nanjing)" ng-model="search">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><a ui-sref=".list({search:search})" >SEARCH THE {{search}} WEATHER</a></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->

  </p>
 </div><!-- /.row -->
 <div ui-view></div>
