<div class="inner cover">
    <span class="cover-heading">click here------->>>><a href="https://www.github.com/vampirebitter">github</a></span>
           <p class="lead">

                <ul class="list-group">
                  <li class="list-group-item" style="color:black;" ng-repeat="weather in weathers">&nbsp;&nbsp;时间:{{weather.date}}&nbsp;&nbsp;{{weather.astro.sr}}--{{weather.astro.ss}}&nbsp;&nbsp;天气:{{weather.cond.txt_d}}&nbsp;&nbsp;气温:{{weather.tmp}}</li>
                  <!-- <li class="list-group-item" style="color:black;">gmail:lj550566181@gmail.com</li>
                  <li class="list-group-item" style="color:black;">qq:550566181</li> -->
                </ul>
           </p>
</div>
