<div class="inner cover">
    <h1 class="cover-heading">If you like the tool,please click star,I'll really appreciate that!</h1>
           <p class="lead">
                <ul class="list-group">
                  <li class="list-group-item" style="color:black;">气温:</li>
                  <li class="list-group-item" style="color:black;">gmail:lj550566181@gmail.com</li>
                  <li class="list-group-item" style="color:black;">qq:550566181</li>
                </ul>
           </p>
</div>
